<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Post</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
          
          <a class="navbar-brand col-lg-5" href="#">
            <div class="input-group mb-3" style="text-align: center;">
            <img src="{% static 'post/desarrollo-sostenible.jpg' %}" alt="" width="140" height="100"
              class="d-inline-block align-text">
              <div class="input-group-append">  
                <h1 style="text-align: center;">Transformando el mundo! : Detalle de Posts</h1>
              </div>
            </div>
          </a>
        
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% if request.user.is_authenticated %}
        <a href=# class="btn btn-primary float-right " type="submit" style="margin:4px">{{request.user.last_name}}</a>
        <a href="/social/logout/" style="text-align:right" class="btn btn-outline-danger float-right " type="submit" style="margin:4px">Logout</a>
        
        {% endif %}
      
        </div>
      </nav>
      



    <div style="border:4px groove">
        <p style=text-align:right>{{post.modificado}}</p>
        <h4 class=text-primary>{{post.titulo}}</h4>
        <p>{{ post.autor.last_name }}, {{post.autor.first_name}}</p>
        <p>{{ post.texto }}</p>
        {% for cat in post.categoria.all %}
        <a class="btn btn-primary  btn-xs" style=margin:2px;>{{cat.nombre}}</a> &nbsp;&nbsp;&nbsp;
        {% endfor %}
        {% if request.user == post.autor or request.user.id == 1 or request.user.id == 3 or request.user.id == 2 %}
        <a href="crear_comentario/{{post.id}}"class="btn btn-outline-primary float-right " type="submit" style="margin:4px">+ Comentario</a>
        {% endif %}
        <br><br><br>
        <div style=text-align:center>
            {% if request.user == post.autor or request.user.id == 1 %}
            <a href="editar/{{post.id}}" class="btn btn-success btn-xs" style=margin:2px>EDITAR</a>
            <a id="eliminar" href="eliminar/{{post.id}}" class="btn btn-danger btn-xs" style=margin:2px>ELIMINAR</a>
            {% endif %}
            <a href="/posts/" class="btn btn-secondary btn-xs" style=margin:2px>VOLVER</a>

        </div>
    </div>
    <strong>Comentarios:</strong>
    {% for coment in comentarios %}
    
    <div style="margin: 20px 0px 20px 20px;">
        <div >{{ coment.creado }}</div>
        <strong>{{ coment.autor }}</strong>

        <p>{{ coment.texto|linebreaks }}</p>
        {% if request.user == coment.autor or request.user.id == 1 or request.user == post.autor %}
        <a href="editar_comentario/{{coment.id}}"class="btn btn-outline-warning float-right " type="submit" style="margin:4px">Editar Comentario</a>
        {% endif %}
        {% if request.user == post.autor or request.user.id == 1 %}
        <a href="eliminar_comentario/{{coment.id}}"class="btn btn-outline-danger float-right " type="submit" style="margin:4px">- Comentario</a>
        {% endif %}
    </div>
    <hr>
    {% empty %}
    <p>Sin comentarios...</p>
    <hr>
    {% endfor %}
    <hr>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>